@import "../base";

.App, #root, main {
  height: inherit;
}

.App .menu{
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  img {
    width: 25px;
  }
}

.default-container {
  padding: 40px 70px 40px $padding-left + 70px;
  .subtitle {
    font-size: 22px;
    font-weight: 500;
    margin-top: 35px;
  }
  .example-section{
    .row{
      display: flex;
    }
    .col{
      flex: 1;
    }
    .col-display-row{
      float: left;
    }
  }
}

@media screen and (max-width: 750px){
  .default-container {
    padding-left: 70px;
  }
}

@media screen and (max-width: 500px){
  .default-container {
    padding: 50px 30px;
  }
}