@import "../base";

.App, #root, main {
  height: inherit;
}

.default-container {
  padding: 40px 70px 40px $padding-left + 70px;
  .subtitle {
    font-size: 22px;
    font-weight: 500;
    margin-top: 35px;
  }
}