.hero-slider {
  background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex-direction: column;
  position: relative;
  color: #fff;
  animation: bg 10s infinite;
  .title {
    font-size: 4.5em;
    margin: 0;
  }
  .desc {
    font-size: 2em;
    font-weight: 300;
  }
  .github {
    position: absolute;
    right: 20px;
    top: 20px;
    img {
      width: 30px;
    }
  }
  .menu {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    img {
      width: 25px;
    }
  }
}
