@import "../../base";

.side-bar {
  width: 0;
  position: fixed;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
  overflow-x: hidden;
  @include trans(300ms);
  $font-size: 16px;
  .home-btn{
    background-color: transparent;
    outline: none;
    width: 100%;
    text-align: left;
    font-size: 20px;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
  }
  .list-container{
    border: none;
    border-radius: 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    .header-panel{
      border-radius: 0;
      border-top: none;
      font-size: 15px;
      color: #777;
    }
  }
  .list{
    display: flex;
    flex-direction: column;
    a{
      transition: background-color 300ms;
      padding: 15px 0 15px 25px;
      text-decoration: none;
      color: #222;
      &:hover{
        background-color: rgba(0,0,0,.1);
      }
    }
    a.active{
      background-color: #ECF6FD;
      color: #108ee9;
      border-right: 4px solid dodgerblue;
    }
  }
}